<html>
    <head>
        <title>Ozge's blog</title>

    </head>
    <body>
        <div>
            <h1><a href="">The little Talks Blog</a></h1>
        </div>
<ul><li>Pink Haired Girl</li><li>turtles</li></ul>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pink Haied Girl</a></h2>
            <p>Dear World,


            	the <em>pink<em> haired girl has pink hair, isn't it interesting?

            	XoXO

            	Love,
            	Ozge </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pink Haied Girl</a></h2>

            	I think turtles are cute. What do you think about it?
            	Please do agree for us not to be a divided nation.
            	</h2>
            <p> <strong>If you do not agree, you can lead us to a civil war. We wouldn't want a little turtle to cause such a big problem.<strong> 

            	Please sign the campaign here <a href="http://pearandthedog.com">link</a> </p>
        </div>
    </body>
</html>

